[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-tomorrow-theme"]
	path = vim/.vim/bundle/vim-tomorrow-theme
	url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
