"*":
  "exception-reporting":
    userId: "c4eca1fa-ba32-0c73-a120-8271f3d581dd"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "3ab37150493049e1dafb8910618fc7e19b5ce00e"
  editor:
    fontFamily: "Menlo"
    fontSize: 14
    invisibles: {}
  core:
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  "autocomplete-plus": {}
