"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css:
      beautify_on_save: true
      configPath: "~/.csscomb.json"
      default_beautifier: "CSScomb"
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "971e04b4-d2da-4126-8ea0-83109ab09b7e"
      analytics: false
      beautifyEntireFileOnSave: false
    gherkin: {}
    handlebars: {}
    html:
      default_beautifier: "Pretty Diff"
      end_with_newline: true
      indent_size: 2
      wrap_attributes_indent_size: 2
    jade: {}
    java: {}
    js:
      space_after_anon_function: true
    json:
      default_beautifier: "Pretty Diff"
      indent_size: 2
    jsx: {}
    latex: {}
    less:
      default_beautifier: "CSScomb"
      disabled: true
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass:
      beautify_on_save: true
    scss:
      beautify_on_save: true
      configPath: "~/.csscomb.json"
      default_beautifier: "CSScomb"
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml:
      indent_size: 2
      wrap_attributes_indent_size: 2
      wrap_line_length: 0
    xtemplate: {}
  core:
    audioBeep: false
    automaticallyUpdate: false
    destroyEmptyPanes: false
    disabledPackages: [
      "background-tips"
    ]
    packagesWithKeymapsDisabled: [
      "standard-formatter"
      "atom-beautify"
      "linter"
    ]
    telemetryConsent: "no"
    titleBar: "custom-inset"
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    lineHeight: 1.4
    showCursorOnSelection: false
    softTabs: true
    softWrap: true
    tabLength: 2
  emmet: {}
  "exception-reporting":
    userId: "b907a5d6-f8db-fdb9-dff4-38a5b28395df"
  "fuzzy-finder": {}
  "go-plus":
    goPath: "~/Code/go"
  "go-signature-statusbar": {}
  jumpy:
    fontSize: 1
    highContrast: true
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    showPanel: true
    useBusySignal: false
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    hideDockButtons: true
  "spell-check":
    locales: [
      "en-US"
      "fr-FR"
    ]
  "standard-formatter":
    formatOnSave: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
".fish.source":
  editor:
    preferredLineLength: 100
