"*":
  "exception-reporting":
    userId: "b907a5d6-f8db-fdb9-dff4-38a5b28395df"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontFamily: "Menlo"
    lineHeight: 1.25
    preferredLineLength: 100
    softWrap: true
  "one-dark-ui": {}
  emmet: {}
